.div{
    width: 100%;
}

@media(min-width:768px){
    .div{
        width: 200px;
    }
}

.category-options{
    padding: 8px;
    outline: none;
    margin-top: 14px;
    border: 2px solid #F5F5F5;
    border-radius: 6px;
    width: 90%;
}

.category-item{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
    color: black;
}

.selected-button{
    height: 35px;
    width: 150px;
    cursor: pointer;
    background-color: #1a75ff;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.selected-button:active{
    animation: click 1s ease-out;
}

@keyframes click{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.90);
    }
    100%{
        transform: scale(1);
    }
}

.unselected-button{
    height: 35px;
    width: 150px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #b8aeab;
    border-radius: 2px;
    color: #b8aeab;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.unselected-button:hover{
    border: 1px solid #1a75ff;
    color: #1a75ff;
}

.category-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 8px;
    margin-bottom: 0px;
}

@media (max-width:768px){
    .all-categories{
        display: none;
    }
}

.small-device-category-container{
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding: 12px;
    gap: 8px;
}

.small-device-category-container::-webkit-scrollbar{
    display: none;
}

@media (min-width:768px){
    .small-device-category-container{
        display: none;
    }
}