.wish-item-img{
    width: 150px;
}

.wish-item-container{
    background-color: transparent;
}

.img-container{
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.move-to-cart{
    width: 100%;
}

.wishlist-item-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
}

.wishlist-item-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: gray;
    height: 15px;
}

@media (max-width:576px){
    .wishlist-item-name{
        font-size: 10px;
    }

.wishlist-item-brand{
        font-size: 11px;
    }
}


.move-to-cart{
    width: 50%;
    height: 35px;
    color: #ffffff;
    background-color: #1a75ff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.remove-from-cart{
    width: 50%;
    height: 35px;
    color: #1a75ff;
    background-color: #ffffff;
    border: 1px solid #1a75ff;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.buttons-container{
    display: flex;
    gap: 3px;
}

.mdCart-icon{
    color: #000000;
}

.mdHeart{
    color: red;
}