.card{
    border-radius: 6px;
}


.item{
    text-decoration: none;
}

.product-card{
    padding: 8px;
}

.product-image-container{
    background-color: #f2f2f2;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-bottom: 12px;
    position: relative;
}

.product-image{
    height: 150px;
    width: 150px;
}

.img-button{
    position: absolute;
    bottom: -10px;
    right: 13px;
    height: 30px;
    width: 90px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: #1a75ff;
    background-color: #ffffff;
    border: 1px solid #1a75ff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.added-to-cart{
    position: absolute;
    bottom: -10px;
    right: 13px;
    height: 30px;
    width: 90px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: #ffffff;
    background-color: #ff1a1a;
    border: none;
    cursor: pointer;
}


.img-heart-button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.img-heart-icon{
    font-size: 24px;
    color: #8c8c8c;
}

.heart-color{
    color:#ff1a1a;
}

.anime{
    animation: pop 0.4s ease-out;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    70%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}
/* .img-button:hover{
    background-color: #0066ff;
} */

.btn-bag{
    font-size: 16px;
    margin-right: 6px;
    color: #1a75ff;
}

@media (max-width:768px){
    .product-image{
        height: 130px;
        width: 130px;
    }

    .img-button{
        height: 30px;
        width: 80px;
        font-size: 10px;
    }

    .added-to-cart{
        height: 30px;
        width: 80px;
    }
}

.product-details-container{
    padding-top: 4px;
}

.pro-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.product-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: gray;
    margin-bottom: -6px;
}

.final-mrp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #111827;
    font-weight: 550;
}

.mrp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: gray;
    text-decoration: line-through;
    font-weight: 550;
}

.offer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #EF4444;
}

.toast-class{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 550;
    color: #404040;
}

.toast-icon{
    color: #1a75ff;
}

.img-rating-review-container{
    display: flex;
    align-items: center;
    position: absolute;
    left: 15px;
    bottom: 0px;
    margin-bottom: 12px;
    height: 20px;
    padding: 0px 5px 0px 5px;
    background-color: #ffffff;
    border-radius: 3px;
}

.img-rating-icon{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: 550;
}

.rating-icon{
    font-size:16px;
    margin-left: 2px;
    color: #009933;
}

.img-count{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size:12px;
    font-weight: 550;
}

.img-vline{
    margin-top: 20px;
}