.card{
    transition: 0.3s ease;
    border-radius: 6px;
}

@media (min-width:768px) {
    .card:hover{
        transform: scale(1.06);
    }
}

.item{
    text-decoration: none;
}

.product-card{
    padding: 8px;
}

.product-image-container{
    background-color: #F5F5F5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-bottom: 12px;
}

.product-image{
    height: 150px;
    width: 150px;
}

@media (max-width:768px){
    .product-image{
        height: 130px;
        width: 130px;
    }
}

.pro-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.product-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: gray;
    margin-bottom: -6px;
}

.final-mrp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #111827;
    font-weight: 550;
}

.mrp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
    text-decoration: line-through;
    font-weight: 550;
}

.offer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #EF4444;
}

@media(min-width:576px) {
    .final-mrp{ 
        font-size: 12px;
    }

    .mrp{
        font-size: 12px;
    }

    .offer{
        font-size: 12px;
    }
}