.home-image{
    width: 300px;
}

@media(min-width:768px){
    .home-image{
        width: 450px;
        margin-right: 24px;
    }
}

.home-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 12px;
}

@media(max-width:768px){
    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 18px;
    }
}

.home-description{
    text-align: center;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

@media(min-width:768px){
    .home-description{
       text-align: start;
       width: 600px;
       font-size: 22px;
       line-height: 30px;
    }
}

.heading{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

@media (max-width:768px) {
    .heading{
        margin-bottom: 40px;
        text-align: center;
        line-height: 30px;
    }
}


@media (min-width:768px) {
    .ss-home-heading{
        display: none;
    }
}

@media (max-width:768px) {
    .ls-home-heading{
        display: none;
    }
}

.button-container{
    display: flex;
    justify-content: center;
}

@media(min-width:768px){
    .button-container{
        display: flex;
        justify-content: flex-start;
    }
}

.home-button{
    height: 35px;
    width: 120px;
    color: #ffffff;
    border: none;
    background-color: #1A73E8;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all 0.3 ease;
}

.home-button:active{
    transform: scale(0.96);
}