.header-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
}


@media (max-width:576px){
    .header-con{
        display: none;
    }
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    padding: 13px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
    margin: 0px;
}

.bag-wishlist-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (min-width:576px){
    .nav-container{
        display: none;
    }
}

.header-items-con{
    padding-left: 0px;
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin-right: 30px;
}

.logo{
    font-size: 21px;
}

.header-icon{
    font-size: 18px;
    margin-bottom: 4px;
}

.header-icon:hover{
    color: #1a75ff;
}

.header-icon:active{
    animation: icon 0.3s ease-out;
}

@keyframes icon {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.90);
    }
    100%{
        transform: scale(1);
    }
}

.exit-button{
    background-color: transparent;
    border: none;
    margin-right: 16px;
}

.logout-button{
    height: 30px;
    width: 90px;
    border: none;
    color: #ffffff;
    background-color: #1A73E8;
    font-weight: 550;
    border-radius: 2px;
    cursor: pointer; 
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.logout-button:active{
    transform: scale(0.90)
}

.logout-button:hover{
    background-color: #3385ff;
}


.nav-item{
    text-decoration: none;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav-item:hover{
    color: #1a75ff;
}


.link{
    text-decoration: none;
    font-weight: 550;
}

.active{
    color: #1a75ff;
}

.in-active{
    color: #8c8c8c;
}

.popup-container{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
}

@media (min-width:576px){
    .popup-container{
        padding: 40px;
    }
}

.Cancel{
    height: 30px;
    width: 100px;
    margin-right: 12px;
    color: gray;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}

.Cancel:hover{
    border: 1px solid #3385ff;
    color: #3385ff;
}

.Yes{
    height: 30px;
    width: 100px;
    color: #ffffff;
    background-color: #1A73E8;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.Yes:hover{
    background-color: #3385ff;
}

.popup-note{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;
    margin-bottom: 22px;
}


.mini-navbar{
    width: 160px;
    position: absolute;
    background-color: #ffffff;
}

.all-categories-container{
    padding-left: 0px;
    list-style-type: none;
}

.category{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
    font-size: 15px;
}

.span-item{
    color: #8f8785;
    position: absolute;
    left: 10px;
    bottom: 19px;
    font-size: 8px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6f0ff;
    color: #3366ff;
}

.wish-list-count{
    position: absolute;
    left: 22px;
    bottom: 20px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6f0ff;
    color: #3366ff;
}

.header-logo{
    width: 60px;
}

.log-out-bag-container{
    display: flex;
    align-items: center;
}

.bag-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-right: 15px;
}

.bag{
    font-size: 16px;
    margin-bottom: 3px;
}

.logout-icon{
    font-size: 18px;
    color: #8c8c8c;
    cursor: pointer;
}