.login-page-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbd3d1;
}

.login-container{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2px;
    background-color: #ffffff;
}


@media(min-width:768px){
    .login-container{
        width: 350px;
    }
}

@media(min-width:768px){
    .form-container{
        width: 390px;
    }
}

.input-label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #b8aeab;
    font-size: 11px;
    margin-bottom: 2px;
}

.input-field{
    padding: 12px;
    font-weight: 550;
    outline: none;
    border: none;
    background-color: #dbd3d1;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-radius: 3px;
}

.password-input{
    width: 100%;
    border: none;
    outline: none;
    padding: 12px;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dbd3d1;
    border-radius: 3px;
}


.login-button{
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #dbd3d1;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    margin-top: 12px;
}

.login-button:hover {
  background-color: #b8aeab;
}

.login-button:active {
  transform: scale(0.98);
}

.login-heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #dbd3d1;
    margin-top: 40px;
}


/* .login-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    font-weight: 500;
} */

.login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: blue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 1px;
}

.error{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 11px;
}

.backend-error{
    height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 11px;
    margin-top: 1px;
}

.eye-input-container{
    display: flex;
    align-items: center;
    background-color: #dbd3d1;
    border-radius: 3px;
}

.showpassword-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.eye-icon{
    color: #1F2937;
}

.vector-img{
    width: 450px;
    display: none;
}

@media(min-width:768px){
    .vector-img{
        display: block;
    }

    .login-heading{
        font-size: 28px;
    }
}


