.cart-summary-container{
    padding: 12px 18px 12px 18px;
    position: sticky;
    bottom: 0px;
    background-color: #ffffff;
}

@media(min-width:576px){
    .cart-summary-container{
        position: sticky;
        bottom: 0px;
    }
}


.show-summary-button{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: transparent;
    color: #1a75ff;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;
}

.arrow-icon{
    font-size: 14px;
}

.total-price{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #737373;
}


.after-discount-price{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    font-size: 13px;
    color: #737373;
}

.saved{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    font-size: 13px;
    color:#737373;
}


.order-button{
    height: 38px;
    width: 100%;
    font-weight: 550;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    background-color: #1a75ff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}


.order-button:active{
    transform: scale(0.99);
}

.biError{
    color: #8f8785;
}

.price-button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width:576px) {
    .price-tax{
        display: none;
    }
}

.order-price{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 12px;
    margin-bottom: 7px;
}

.tax{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 0px;
    font-size: 12px;
}
