.about-container{
  margin-top: 100px;
}

@media (min-width:768px){
    .about-container{
        display: flex;
        align-items: center;
    }
}


@media (max-width:576px){
    .image-container{
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
    }
}


.specific-product-page{
    padding: 12px;
}


@media(min-width:767px){
    .specific-product-page{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.specific-product-img{
    width: 200px;
    height: 200px;
}

@media (min-width:576px){
    .specific-product-img{
        width: 380px;
        height: 380px;
}
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    line-height: 28px;
    margin-bottom: 0px;
}

@media (min-width:576px){
    .name{
        font-size: 20px;
    }
}

.price-container{
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap:6px;
    height: 40px;
}

.final-price{
    color: #111827;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

@media (min-width:576px){
    .final-price{
        font-size: 15px;
    }
}

.price{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    font-size: 13px;
}

@media (min-width:576px){
    .price{
        font-size: 14px;
    }
}

.discount{
    color: #111827;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #EF4444;
}

@media (min-width:576px){
    .discount{
        font-size: 14px;
    }
}

.rating-and-reviews-container{
    display: flex;
    align-items: center;
    margin-top: -12px;
}

.rating-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    margin-right: 18px;
}

.review-container{
    display: flex;
    align-items: center;
}

.product-rating{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
}

.product-rating-icon{
    font-size: 18px;
    margin-top: -2px;
    color: gold;
}

.product-reviews-icon{
    font-size: 22px;
    margin-right: 5px;
}

.product-reviews{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #1F2937;
}

.review-container{
    margin-top: -4px;
}

.product-description{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    color: #111827;
    margin-top: 0px;
}

@media (min-width:576px){
    .product-description{
        font-size: 14px;
        line-height: 23px;
    }
}

.availability{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    margin-left: 6px;
}

.pay-on-delivery{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    margin-left: 6px;
}

.return-policy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    margin-left: 6px;
}

@media (min-width:576px){
    .availability{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #000000;;
    }

    .pay-on-delivery{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #000000;
    }

    .return-policy{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #000000;
    }
}

.in-stoke-img{
    width: 30px;
}

.pay-on-delivery-img{
    width: 30px;
}

.return-img{
    width: 30px;
}

.min-container{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #111827;
}

@media (max-width:576px){
    .available{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }

    .brand{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
}

.Available{
    color: #4B5563;
    font-size: 14px;
}

.Brand{
    color: #4B5563;
    font-size: 14px;
}

@media (max-width:576px){
    .Available{
        font-size: 12px;
    }

.brand{
    font-size: 12px;
    }
}

.h-line{
    border: 1px solid #cfcfd1;
}

.quantity-container{
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.quantity-button{
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 1px solid #cfcfd1;
    color: black;
    border-radius: 2px;
    cursor: pointer;
}

.quantity-button:active{
    color: #1a75ff;
    border: 1px solid #1a75ff;
    transform: scale(0.98);
}

.quantity{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width:576px) {
    .btn-container{
        position: fixed;
        bottom: 0px;
        width: 95%;
        left: 10px;
    }
}

.btn-container{
    display: flex;
    background-color: #ffffff;
    padding: 12px 0px 12px 0px;
}

.add-toCart{
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 70%;
    font-size: 12px;
    color: #ffffff;
    background-color: #1a75ff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:768px) {
    .add-toCart{
        width: 150px;
    }
}

.add-toCart:active {
  transform: scale(0.98);
}


.add-wishlist{
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 150px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 12px;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in{
    background-color: #EF4444;
    color: #ffffff;
}

.not-in{
    background-color: #1a75ff;
    color: #ffffff;
}

.add-wishlist:active {
  transform: scale(0.98);
}


@media(max-width:768px){
    .add-wishlist{
        display: none;
    }
}


.dill-button{
    height: 40px;
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #cfcfd1;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 6px;
}

.dill-active{
    border: 1px solid #EF4444;
}

@media (min-width:768px) {
    .dill-button{
        display: none;
    }
}

.dill-icon{
    font-size: 24px;
}

@media(min-width:768px){
    .quantity-add-to-cart{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.wishlist-loading-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-image{
    height: 280px;
}

@media (max-width:576px){
    .error-image{
        height: 180px;
    }
}

.error-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
}

@media (max-width:576px){
    .error-heading{
        height: 21px;
        font-size: 14px;
    }
}

.error-note{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-align: center;
    line-height: 23px;
    margin-top: 0px;
}

@media (max-width:576px){
    .error-note{
        height: 21px;
        font-size: 15px;
    }
}

.try-again{
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 4px;
    background-color: #8f8785;
    color: #ffffff;
    margin-top: 25px;
}

.back-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-arrow{
    color: gray;
}

@media (min-width:768px){
    .back-container{
        display: none;
    }
}

.heart-button{
    background-color: transparent;
    border: none;
    margin-right: 4px;
    cursor: pointer;
}

.heart:active{
    transform: scale(0.90);
}

.un-selected{
    font-size: 25px;
    color: #9CA3AF;
    animation: pop 0.6s ease-out;
}

.selected{
    font-size: 25px;
    color: #EF4444;
    animation: pop 0.5s ease-out;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    70%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.btn{
    animation: pop 0.5s ease-out;
    border-color: #EF4444;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    70%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}


.ul-comments-list{
    padding-left: 0px;
    padding-bottom: 40px;
}

.revies-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color: #1a75ff;
}

.gunde-icon{
    font-size: 19px;
    margin-right: 4px;
}

.bag-icon{
    font-size: 19px;
    margin-right: 4px;
    
}

.text{
    color: aliceblue;
    background-color: #000000;
    height: 5px;
    width: 5px;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    animation: moveText 1.6s ease-out;
}


.bookmark{
    color: #EF4444;
}

.toast{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    font-weight: 550;
    font-size: 14px;
    text-align: center;
    background-color: #e6f0ff;
}

.simialr-products-container{
    padding: 0px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 220px));
    margin: 0px;
    margin-bottom: 18px;
}

@media (max-width:768px){
    .simialr-products-container{
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
    }
}

.similar-heading{
    font-family: Arial, Helvetica, sans-serif;
    color: #1a75ff;
    margin-bottom: 8px;
    font-size: 16px;
}

@media (min-width:768px) {
    .similar-heading{
        font-size: 28px;
    }

    .revies-heading{
        font-size:28px;
    }
}